@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Libre+Baskerville:ital@1&family=Sansita+Swashed:wght@300&display=swap');

/* body{
    background-color: #f5f5f5;
    

    background: linear-gradient(-45deg, #ee7752, #391b80, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} */

/* .top{
    color: #f5f5f5;
    font-size: small;
} */
/* .form{
    background-color: #f5f5f5;
    

    background: linear-gradient(-45deg, #ee7752, #391b80, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: white;
} */



.reg_img{
    width:100vw;
    display: flex;
    z-index: 9;
    height: 100vh;
    overflow: hidden;
    background-color: cover;
    /* margin-top: 2vh; */
    /* padding-top: 45vh; */
}
.box-reg {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
  }
  
  .box-reg h2 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .box-reg .inputBox {
    position: relative;
  }
  
  .box-reg .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
  }
  
  .box-reg .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: -2rem 0;
    font-size: 0.75rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box-reg .inputBox input:focus ~ label,
  .box-reg .inputBox input:valid ~ label,
  .box-reg .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 0;
    color: #03a9f4;
    font-size: 1rem;
  }
  
  .reg-button{
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
  }
  
  .reg-button:hover {
    background-color: #1cb1f5;
  }